{% block nav %}

    <!-- Header -->
        <header id="header" class="alt">
            <a href="index.html" class="logo"><strong>Gabriel</strong> <span>Kento Toledo Takagi</span></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

    <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li><a href="index.html">Home</a></li>
                <li><a href="landing.html">Landing</a></li>
                <li><a href="generic.html">Generic</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
            <ul class="actions stacked">
                <li><a href="#" class="button primary fit">Get Started</a></li>
                <li><a href="#" class="button fit">Log In</a></li>
            </ul>
        </nav>

    <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1>Ola, meu nome é Gabriel Kento</h1>
                </header>
                <div class="content">
                    <p>Esse é o meu Currículo profissional, Desenvolvedor back-end python com conhecimento em Django, Django-Rest e Flask.</p>
                </div>
            </div>
        </section>
{% endblock %}